#ordered-items {
    padding-top: 30px;
    font-size: 18px;
    max-height: 200px;
    overflow-y: scroll;
}

#ordered-items p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#dish-name, #dish-price {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

#total-price {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
}