.scroller {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
    padding: 0px 12px 0px 20px;
}

#dish-scroller {
    overflow-x: overlay;
}

.scroller::-webkit-scrollbar {
    height: 0px;
    z-index: 0;
}

scroller::-webkit-scrollbar-track {
    height: 0px;
    z-index: 0px;
}

