#address-input-container {
    padding-top: 30px;
    font-size: 18px;
    padding-top: 40px;
}

#address-input-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.input-box {
    border: none;
    border-bottom: 2px solid #fff;
    background-color: inherit;
    padding: 3px;
    color: #fff;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.input-box:focus {
    outline: none;
}

#address-confirmation-button {
    width: 333px;
    height: 52px;
    border-radius: 26px;
    background-color: #fff;
    color: var(--stGreen);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 60px;
    text-align: center;
    outline: none;
    border: none;
}

.address-cancel-button {
    width: 333px;
    height: 52px;
    border-radius: 26px;
    background-color: inherit;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}