.quantifier {
    position: absolute !important;
    right: 10px;
    bottom: 5px;
    display: flex;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.minus {
    color: var(--stRed);
    font-size: 30px;
    margin-right: 7px;
}

.plus {
    color: var(--stGreen);
    margin-left: 7px;
}