
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root { 
    /* st -> short for standard */
    --stBlack: #333333;
    --stRed: #CF2B2B;
    --stGreen: #32B72F;
    --stGrey: #E5E5E5;
    --darkGrey: #CBCBCB;
    --lightGreen: #50D074;
}

.App {
  display: flex;
}

.hidden {
    display: none !important;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-weight: 700;
}

span {
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--stGrey);
}

body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    width: 0px;
}

.app-content-container {
  margin-top: 92px;
  margin-bottom: 92px;
  padding: 20px 0px 10px 0px;
  background-color: var(--stGrey);
  width: 100vw;
}